/* ORDER SECTION - MATCHES ABOUT US STYLING */
#fh5co-order {
  background: #fff;
  width: 100%;
  padding: 7em 0;
}

@media screen and (max-width: 768px) {
  #fh5co-order {
    padding: 5em 0;
  }
}

#fh5co-order .fh5co-text {
  text-align: center;
  background: #fff;
}

#fh5co-order .fh5co-text .btn {
  color: #fff;
}

#fh5co-order .fh5co-text .heading {
  margin-bottom: 30px;
  color: #16178f;
  font-style: italic;
  font-weight: 300;
  position: relative;
  padding-bottom: 30px;
  text-align: center;
}

#fh5co-order .fh5co-text .heading:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  left: 50%;
  background: #16178f;
  margin-left: -20px;
}

#fh5co-order .fh5co-text p {
  line-height: 2;
  color: #5e493a;
}
